{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}Provost Core{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/global.css' %}" />
    {% block extra_css %}{% endblock %} {% block extra_head %}{% endblock %}
  </head>
  <body>
    <header>
      <div class="main-margins nav-bg">
        <nav>
          <span class="navlogo">Provost Core</span>
          <div class="navlinks">
            <a href="{% url 'home' %}">Home</a>
            <a href="{% url 'post_list' %}">Posts</a>
          </div>
        </nav>
      </div>
    </header>

    <main class="main-margins">{% block content %}{% endblock %}</main>

    <footer>
      <span>&copy Provost 2024</span>
    </footer>

    {% block extra_scripts %}{% endblock %}
  </body>
</html>
