{% extends 'core/base.html' %} {% block content %}
<div class="centered-container">
  <div class="main-app-card">
      <a href="{% url 'post_list' %}" class="back-button">Back</a>
      <span class="post-title">{{ post.title }}</span>
      <p>Posted by: {{ post.user }} on {{ post.created_at }}</p>
      <hr>
      <p class="post-content">{{ post.content }}</p>
      <br>
      <p>Comments:</p>
      <ul>
        {% for comment in comments %}
        <li class="comment">
          {{ comment.content }} ({{ comment.user }} - {{ comment.created_at }})
        </li>
        {% endfor %}
      </ul>
  </div>
</div>

{% endblock %}
